body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.wrapper{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
a {
    cursor: pointer !important;
    text-decoration: none !important;
    color: #666 !important;
}


a:hover {
    text-decoration: underline !important;
}

a.btn:hover  {
    color: whitesmoke !important;
}